.container.remove-border-top
  .row.remove-margin.position-relative
    %h2.bold Forgot your password?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", required: true
      .actions
        = f.submit "Send instructions", class: "btn"
      %br
    = render "devise/shared/links"
