!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title PencilCase
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://unpkg.com/aos@2.3.1/dist/aos.css", :rel => "stylesheet"}/
    
  %body
    %nav#main-header.z-depth-0
      .nav-wrapper.maximum-nav-width.fixed
        %a{:href => "/"}
        %ul.right.nav-items
          %li
            %a{:href => "#goal"}
              %span Goals
          %li
            %a{:href => "#task"}
              %span Tasks    
      = yield
    %script{:src => "https://unpkg.com/aos@2.3.1/dist/aos.js"}



